---
interface Props {
	items: {
		slug: string;
		data: {
			title: string;
			category: string[];
			thumbnail: {
				src: string;
				width: number;
				height: number;
			};
		};
	}[];
}

const { items } = Astro.props;
import noImage from "../images/projects/noimage.png"
---
<section class="l-section l-section--project --bg" id="project">
    <div class="l-inner">
        <h2 class="c-heading" data-subtext="Browse My Recent Projects">制作物</h2>
        <ul class="p-projectList">
        {
        items.map((item) => (
            <li class="p-projectList__item">
                <a href={`/projects/${item.slug}`}>
                    <div class="p-projectList__thumbnail">
						{
							item.data.thumbnail ?
							<img
								src={item.data.thumbnail.src}
								width={item.data.thumbnail.width}
								height={item.data.thumbnail.height}
								alt=""
								loading="lazy"
							/>
							:
							<img
								src={noImage.src}
								width={noImage.width}
								height={noImage.height}
								alt=""
								loading="lazy"
							/>
						}
                    </div>
                    <ul class="p-projectList__category c-tags">
					{
						item.data.category.map((cat) =>
							<li>{cat}</li>
						)
					}
                    </ul>
                    <p class="p-projectList__title">{item.data.title}</p>
                </a>
            </li>
        ))
        }
        </ul>
    </div>
</section>
<style>
	.p-projectList {
		display: grid;
		gap: 5.55vw 2rem;
	}

	@container (min-width: 768px) {
		.p-projectList {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 2rem;
		}
	}

	.p-projectList__item {
		display: flex;
		grid-template-row: subgrid;
		grid-row: span 3;
	}

	.p-projectList__thumbnail {
		border-radius: 10px 10px 0 0;
		overflow: hidden;
	}

	.p-projectList__thumbnail img {
		aspect-ratio: 16 / 9;
		object-fit: cover;
	}

	.p-projectList__item a {
		position: relative;
		top: 0;
		background: #fff;
		border-radius: 10px;
		border: 1px solid rgba(75,99,120,18%);
		box-shadow: 0 4px 0 rgba(75,99,120,18%);
		transition: 0.2s ease;
	}

	.p-projectList__item a:hover {
		transform: translateY(4px);
		box-shadow: none;
	}

	.p-projectList__category {
		padding: 1rem 1rem 0;
	}

	.p-projectList__title {
		padding: 0 1rem 1rem;
		font-size: var(--size-sm);
		font-weight: bold;
	}
</style>